<div class="footer">
  <div class="footer-links">
    <%= link_to "#" do %>
      <%= icon('fab', 'github', class: 'strong') %>
    <% end %>
    <%= link_to "#" do %>
      <%= icon('fab', 'instagram', class: 'strong') %>
    <% end %>
    <%= link_to "#" do %>
      <%= icon('fab', 'facebook-f', class: 'strong') %>
    <% end %>
    <%= link_to "#" do %>
      <%= icon('fab', 'twitter', class: 'strong') %>
    <% end %>
    <%= link_to "#" do %>
      <%= icon('fab', 'linkedin-in', class: 'strong') %>
    <% end %>
  </div>
  <div class="footer-copyright">
    This app was designed by <%= link_to "rodloboz", "https://github.com/rodloboz", target: '_blank' %> and reproduced by <%= link_to "aquellier", "https://github.com/aquellier", target: '_blank' %> for javascript training purpose.
  </div>
</div>
